@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0F1115;
  }

  .dark {
    --background: #0F1115;
    --foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-500 text-gray-100;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}  

/* SCROLL BAR CSS: */


/* Light Mode Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(200, 200, 200);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 174, 255);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 144, 218);
  border-radius: 8px;
}

/* Dark Mode Scrollbar */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #1f2937; /* Tailwind 'gray-800' */
}

.dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(55, 65, 81); /* Tailwind 'gray-700' */
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(37, 129, 235); /* Tailwind 'blue-600' */
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(29, 113, 216); /* Tailwind 'blue-700' */
  border-radius: 8px;
}
