@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0F1115;
  }

  .dark {
    --background: #0F1115;
    --foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-500 text-gray-100;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}